<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Lista de Deseos
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list lines="none">
        <ion-list-header>
            <ion-label>Deseos</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let deseo of deseos">
            <ion-thumbnail><img [src]="deseo.data.url" /></ion-thumbnail>
            <ion-label>{{deseo.data.nombre}}</ion-label>
        </ion-item>

    </ion-list>
</ion-content>